<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrudCenter - Perfil</title>
</head>
<body>
    <h2 id="profileName">Perfil</h2>
    <form id="userInfo">
        <label for="nameP">Nombre</label>
        <input type="text" id="nameP">
        <label for="emailP">Correo</label>
        <input type="email" id="emailP">
        <button type="submit" i>Guardar</button>
    </form>
    <form id="userPassw">
        <h3>Cambiar contraseña</h3>
        <label for="passwordP">Contraseña actual</label>
        <input type="password" id="passwordP">
        <label for="passwordPn">Contraseña nueva</label>
        <input type="password" id="passwordPn">
        <button type="submit" >Guardar</button>
    </form>
    <script src="profile.js"></script>
</body>
</html>